
.container {
    margin: 150px auto;
    max-width: 800px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.about-section {
    margin-bottom: 30px;
}

.about-section h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.about-section p {
    font-size: 16px;
    margin-bottom: 15px;
}

.about-section p:last-child {
    margin-bottom: 0;
}

.about-section a {
    color: #00796b;
    text-decoration: none;
    font-weight: bold;
}

.about-section a:hover {
    text-decoration: underline;
}


@media (max-width: 600px) {
    .container {
        padding: 10px;
    }
}