.table-container {
    display: flex;
    justify-content: center;
}

#adminTable {
    width: 90%;
    border-collapse: collapse;
    margin-top: 20px;
}

#adminTable th,
#adminTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    hyphens: auto;
}

#adminTable td:nth-child(3){
    text-align: start;
    /* white-space: pre-line; */
}

#adminTable th{
    cursor: pointer;
    transition: color 0.3s ease;
}
#adminTable th:last-child, #adminTable th:nth-last-child(2) {
    cursor: default;
}

#adminTable th:not(:last-child,:nth-last-child(2)):hover{
    color: #009688;
}


#adminTable thead{
    background-color: #000000;
    color: #fff;
}

#adminTable tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

#adminTable tbody tr:nth-child(odd) {
    background-color: #fff;
}

#adminTable tbody td img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    font-size: 16px;
    background-color: #fefefe;
    border-radius: 20px;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.modal-content label, .modal-content select
{
    padding: 10px 10px 10px 0;
}

.modal-content input
{
    font-size: 15px;
    padding: 5px;
}

div.modal-content option
{
    font-size: 16px;
    height: 10px;
}

#btnAddProduct {
    font-size: 16px;
    font-weight: bold;
    background-color: black;
    color: white;
    padding: 15px 20px;
    margin: 18vh 0 0 5vw;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#btnAddProduct:hover {
    background-color: rgb(113, 107, 107);
    transition: background-color 0.3s ease;
}


#btnSubmitAddProduct,
#btnCloseModal {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    margin: 2% 1% 1% 0;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#btnSubmitAddProduct:hover{
    background-color: #45a049;
}

#btnCloseModal {
    background-color: #f44336;
}

#btnCloseModal:hover {
    background-color: #d32f2f;
}

#btnSubmitEditProduct,
#btnCloseEditModal{
    background-color: #2980b9;
    color: white;
    padding: 10px 15px;
    margin: 2% 1% 1% 0;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#btnSubmitEditProduct:hover{
    background-color: #19699a;
}

#btnCloseEditModal {
    background-color: #f44336;
}

#btnCloseEditModal:hover {
    background-color: #d32f2f;
}

#editProductModal{
    display: none;
}

.icon{
    width: 40px;
}
.edit {
    padding: 15px;
}
.edit:hover {
    fill: #2980b9;
    cursor: pointer;
    transition:  fill 0.3s ease;
}

.delete:hover {
    fill: #b52e35;
    cursor: pointer;
    transition:  fill 0.3s ease;
}

.icons{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#description, #description_edit {
    height: 60px;
}
.description{
    max-width: 300px;
}

.form-search{
    margin-top: 100px;
}

select#get-category-products {
    height: 6.5vh;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: #000000;
    border-radius: 5px;
    margin-left: 10px;
}

select#get-category-products:hover{
    cursor: pointer;
}