html, body {
  height: 100%;
}


footer {
  background-color: black;
  width: 100%;
  margin-top: 15vh;
  color: white;
  
}

.footer-social {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.links-soicial {
  margin: 35px 15px 0 0 ;
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.links-soicial:hover {
  text-decoration: underline;
  color: #009688;
}


.text-size-16 {
  font-size: 16px;
}

.text-size-14 {
  font-size: 14px;
}

.address-footer span,
.email-footer span,
.phone-footer span {
  display: block; 
  margin-bottom: -13px; 
}

.text-size-12 {
  font-size: 12px;
}

.margin-30 {
  margin: 30px;
}

.container-section{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.padding-10 {
  padding: 10px;
}

